agg/target/
agg/nbactions.xml
data/attacksByCity.csv
data/nsa.sqlite
data/test
data/test_agg
data/waf-20131129
data/waf-20131129_cleaned
data/waf-20131129_cleaned_sorted
data/waf-20131202
data/waf-20131202_cleaned
data/waf-20131202_cleaned_sorted
data/waf-20131202_cleaned_sorted_agg
data/waf-20140415
data/waf-20140415_cleaned
data/waf-20140415_cleaned_sorted
data/waf_block_ms_country_state_lat_long_network_useragent